.delete-btn {
    background-color: rgba(0, 0, 0, 0.062);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    width: 40px;
  }
  
  .delete-btn:hover {
    background-color: rgb(71, 0, 0);
  }
  
  .delete-icon {
    margin-right: 0.5rem;
  }
  
  .bg-gray {
    background-color: #f3f3f3; 
}

.bg-card-gray {
  background-color: #f8f8f8;
}

.bg-title-card{
  background-color: #FFFFFF; 
}

.card-deck-wrapper {
  overflow: hidden;
}

.card-deck-wrapper .card-deck {
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.card-deck-wrapper .card-deck::-webkit-scrollbar {
  display: none; 
}


.card-deck.overflow-hidden::-webkit-scrollbar {
  width: 0.5em;
  background-color: #f5f5f5;
}


.card-deck.overflow-hidden::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


.card-deck.overflow-hidden::-webkit-scrollbar-thumb {
  background-color: #888;
  outline: 1px solid slategrey;
}

.custom-shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); 
}

.selected {
  opacity: 0.5; 
}

.selected-bg {
  background-color: #333; 
}

.status-pending {
  border: 2px solid orange;
}

.status-to-do{
  border: 2px solid cyan;
}

.status-testing {
  border: 2px solid yellow;
}

.status-closed {
  border: 2px solid green;
}
