

.crear-bug{
    
    box-sizing: border-box; 
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    width: 40%;
    height: 80%;

    border-style:solid;
    border-width:1px;
    border-radius:5px;
    border-color: gray;

    flex: none;
    order: 0;
    flex-grow: 1;
}
 .crear-bug h1{
    min-width: 100%;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px groove black;
 }

.crear-bug form{
    min-width:80%;
    display:grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    row-gap: 40px;
}
.crear-bug label{
    text-align: right;
    font-size: 1.2rem;
}

.crear-bug input,textarea,select{
    border-radius: 5px;

}
.crear-bug textarea{
    height: 130px;
    resize: none;
}

.crear-bug button{
    position:relative;
    grid-column:2;
    width:50%;
    left:20%;
}
/*
.crear-bug button:hover {
  

    background: #8167c9;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
  }
.crear-bug button a{
    color:white;
}
*/