.sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: auto;
    background-color: #F5F5F5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: background-color 0.3s ease;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.icon-container h1 {
    font-size: 18px;
}

.oval {
    position: absolute;
    top: 35%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 50px;
    border-radius: 45px;
    background-color: #ffff;
    z-index: -1;
    transition: background-color 0.3s ease;
}

.sidebar a:hover .oval {
    background-color: rgba(0, 0, 0, 0.24);
}

.icon-container i {
    margin-left: 10px;
    font-size: 40px;
    color: black;
}